@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
/*ナビゲーションバーのスタイル*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.header {
    padding: 20px 10%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);           
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__title {
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    margin-left: 0;
}

.nav__links {
    list-style: none;
    display: flex;
    margin-right: 0px;
    padding-right: 0px;
}

.nav__links li {
    display: inline;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #77ea8e;
}

button {
    padding: 9px 25px;
    background-color: rgb(139, 233, 143);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 169, 85, 0.8);
}

.top_picture {
    height: 170vh;
    background-image: url(images/sunflower.JPG);
    background-size: cover;
    background-position: center bottom 20%;
    position: relative;
    background-repeat: no-repeat;
}


