@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

/*ナビゲーションバーのスタイル*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.header {
    padding: 20px 10%;
    background: rgb(236, 242, 241);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(8px);           
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__title {
    color: #000000;
    cursor: pointer;
    font-size: 24px;
    margin-left: 0;
}

.text {
    display: inline-block;
    letter-spacing: 5px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2;
    border-right: 3px solid #000000;

    animation: 
        typing 2s steps(14, end) forwards,
        cursor .6s step-end 10 alternate;
    will-change: width border-color;
}

/* タイピング（横幅を伸ばす） */
@keyframes typing {
    from { width: 0 }
    to { width: 14ch }
}
  
  /* カーソル点滅 */
@keyframes cursor {
    50% { border-color: transparent }
}

.nav__links {
    list-style: none;
    display: flex;
    margin-right: 0px;
    padding-right: 0px;
}

.nav__links li {
    display: inline;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #77ea8e;
}

button {
    padding: 9px 25px;
    background-color: rgb(139, 233, 143);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 169, 85, 0.8);
}

.top_picture {
    height: 170vh;
    background-image: url(images/sunflower.JPG);
    background-size: cover;
    background-position: center bottom 20%;
    position: relative;
    background-repeat: no-repeat;
}


/*Aboutのスタイル*/