@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

/*ナビゲーションバーのスタイル*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}

.header {
    padding: 30px 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__logo {
    cursor: pointer;
    font-size: 24px;
    margin-left: -100px;
}

.nav__links {
    list-style: none;
    display: flex;
    margin-right: -60px;
}

.nav__links li {
    display: inline;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #00a922;
}

button {
    padding: 9px 25px;
    background-color: rgb(0, 169, 8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 169, 85, 0.8);
}



